<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo1.module.mapper.CoachMapper">
    <!--    经验总结 ：-->
    <!--    动态sql中要设计托底字段稳定sql结构-->
    <!--    不要在sql里面写注释，影响运行sql的可读性-->
    <select id="getPageList" resultType="com.example.demo1.module.entity.Coach">
        select * from coach
        where is_deleted = 0
        <if test="keyword != null">
            and name like CONCAT('%', #{keyword}, '%')
        </if>
        order by id
        limit #{index}, #{pageSize}
    </select>

    <select id="count" resultType="java.lang.Integer">
        select count(*) from coach
        where is_deleted = 0
        <if test="keyword != null">
            and name like CONCAT('%', #{keyword}, '%')
        </if>
    </select>

    <insert id="insert" parameterType="com.example.demo1.module.entity.Coach" useGeneratedKeys="true" keyProperty="id">
        insert into coach (
        <if test="coach.pics != null and coach.pics != ''">`pics`,</if>
        <if test="coach.name != null and coach.name != ''">`name`,</if>
        <if test="coach.speciality != null and coach.speciality != ''">`speciality`,</if>
        <if test="coach.intro != null and coach.intro != ''">`intro`,</if>
        `category_id`,
        `update_time`,
        `create_time`
        )
        values (
        <if test="coach.pics != null and coach.pics != ''">#{coach.pics},</if>
        <if test="coach.name != null and coach.name != ''">#{coach.name},</if>
        <if test="coach.speciality != null and coach.speciality != ''">#{coach.speciality},</if>
        <if test="coach.intro != null and coach.intro != ''">#{coach.intro},</if>
        #{coach.categoryId},
        #{coach.updateTime},
        #{coach.createTime}
        )
    </insert>

    <update id="update" parameterType="com.example.demo1.module.entity.Coach">
        update coach
        set
        <if test="coach.pics != null and coach.pics != ''">`pics` = #{coach.pics},</if>
        <if test="coach.name != null and coach.name != ''">`name` = #{coach.name},</if>
        <if test="coach.speciality != null and coach.speciality != ''">`speciality` = #{coach.speciality},</if>
        <if test="coach.intro != null and coach.intro != ''">`intro` = #{coach.intro},</if>
        <if test="coach.categoryId != null and coach.categoryId != ''">`category_id` = #{coach.categoryId},</if>
        `update_time` = #{coach.updateTime}
        where id=#{coach.id} limit 1
    </update>
</mapper>