<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo1.module.mapper.CoachMapper">
    <!--    经验总结 ：-->
    <!--    动态sql中要设计托底字段稳定sql结构-->
    <!--    不要在sql里面写注释，影响运行sql的可读性-->
    <select id="getPageList" resultType="com.example.demo1.module.entity.Coach">
        select * from coach
        where is_deleted = 0
        <if test="keyword != null">
            and (
            `name` like CONCAT('%', #{keyword}, '%')
            <if test="orCategoryIds != null and orCategoryIds != ''">
                or category_id in (${orCategoryIds})
            </if>
            )
        </if>
        order by id
        limit #{index}, #{pageSize}
    </select>

    <select id="count" resultType="java.lang.Integer">
        select count(*) from coach
        where is_deleted = 0
        <if test="keyword != null">
            and (
            `name` like CONCAT('%', #{keyword}, '%')
            <if test="orCategoryIds != null and orCategoryIds != ''">
                or category_id in (${orCategoryIds})
            </if>
            )
        </if>
    </select>

    <insert id="insert" parameterType="com.example.demo1.module.entity.Coach" useGeneratedKeys="true" keyProperty="id">
        insert into coach (
        <if test="entity.pics != null and entity.pics != ''">`pics`,</if>
        <if test="entity.name != null and entity.name != ''">`name`,</if>
        <if test="entity.speciality != null and entity.speciality != ''">`speciality`,</if>
        <if test="entity.intro != null and entity.intro != ''">`intro`,</if>
        `category_id`,
        `update_time`,
        `create_time`
        )
        values (
        <if test="entity.pics != null and entity.pics != ''">#{entity.pics},</if>
        <if test="entity.name != null and entity.name != ''">#{entity.name},</if>
        <if test="entity.speciality != null and entity.speciality != ''">#{entity.speciality},</if>
        <if test="entity.intro != null and entity.intro != ''">#{entity.intro},</if>
        #{entity.categoryId},
        #{entity.updateTime},
        #{entity.createTime}
        )
    </insert>

    <update id="update" parameterType="com.example.demo1.module.entity.Coach">
        update coach
        set
        <if test="entity.pics != null and entity.pics != ''">`pics` = #{entity.pics},</if>
        <if test="entity.name != null and entity.name != ''">`name` = #{entity.name},</if>
        <if test="entity.speciality != null and entity.speciality != ''">`speciality` = #{entity.speciality},</if>
        <if test="entity.intro != null and entity.intro != ''">`intro` = #{entity.intro},</if>
        <if test="entity.categoryId != null and entity.categoryId != ''">`category_id` = #{entity.categoryId},</if>
        `update_time` = #{entity.updateTime}
        where id=#{entity.id} limit 1
    </update>

    <select id="getByProperty" resultType="com.example.demo1.module.entity.Coach">
        select * from coach
        where is_deleted = 0
        <if test="entity.id != null and entity.id != ''">and `id` = #{entity.id}</if>
        <if test="entity.pics != null and entity.pics != ''">and `pics` = #{entity.pics}</if>
        <if test="entity.name != null and entity.name != ''">and `name` = #{entity.name}</if>
        <if test="entity.speciality != null and entity.speciality != ''">and `speciality` = #{entity.speciality}</if>
        <if test="entity.intro != null and entity.intro != ''">and `intro` = #{entity.intro}</if>
        <if test="entity.categoryId != null">and `category_id` = #{entity.categoryId}</if>
        <if test="entity.updateTime != null">and `update_time` = #{entity.updateTime}</if>
        <if test="entity.createTime != null">and `create_time` = #{entity.createTime}</if>
        order by id
    </select>

    <update id="deleteByProperty">
        update coach
        set is_deleted = 1, update_time = #{timestamp}
        where is_deleted = 0
        <if test="entity.id != null and entity.id != ''">and `id` = #{entity.id}</if>
        <if test="entity.pics != null and entity.pics != ''">and `pics` = #{entity.pics}</if>
        <if test="entity.name != null and entity.name != ''">and `name` = #{entity.name}</if>
        <if test="entity.speciality != null and entity.speciality != ''">and `speciality` = #{entity.speciality}</if>
        <if test="entity.intro != null and entity.intro != ''">and `intro` = #{entity.intro}</if>
        <if test="entity.categoryId != null">and `category_id` = #{entity.categoryId}</if>
        <if test="entity.updateTime != null">and `update_time` = #{entity.updateTime}</if>
        <if test="entity.createTime != null">and `create_time` = #{entity.createTime}</if>
    </update>
</mapper>